

nav {
  position: fixed; 
  background-color: rgba(0,0,0,0.35); 
  overflow: hidden;
  z-index: 2;
  color: #EEEEEE;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #D5EABB;
}

main {
  flex: 1 0 auto;
  /* background-color: rgb(107, 107, 107); */
}

footer {
  background-color: black;
}

.parallax{
  position: static;
}

/* Colors:
 * #A1D2CE
 * #78CAD2
 * #62A8AC
 * #5497A7
 * #50858B
 */
